<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet">
    {{ stylesheet_tag('app_css') | safe }}
</head>
<body>
    <div>
        <img src="{{ asset_url_for('images/python-yinyang.png') }}" alt="python yin and yang, flask and react"/>
        <p>Hello World! I have been seen {{ times }} times</p>
    </div>
    <div id="react-reddit-app">
    </div>
    {{ javascript_tag('app_js') | safe }}
</body>
</html>
